@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #0f1319;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.input-field {
  @apply form-input bg-slate-800 text-white border-none focus:border-none focus:ring-0 rounded py-2 px-3;
}

.multiline-input-field{
  @apply form-input bg-slate-800 text-white border-none focus:border-none focus:ring-0 rounded py-2 px-3 ;
}

.btn-primary {
  @apply bg-seconday text-white py-2 rounded px-3;
}
